.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: #1F4749
}

.login-card {
    width: 100%;
    max-width: 330px;
    text-align: center;
    border-radius: 15px;
    background-color: #F7F7F7
}

.form-field {
    width: 80%;
    height: 75px;
}

.password {
    width: 90%;
    text-align: right;
}

.registro {
    margin-top: 10px;
}

.mat-success {
    background-color: #1F4749;
    color: #F7F7F7;
}
