
<div class="container">
    <div class="left">
        <mat-card class="homepage-card mat-elevation-z8">
            <div class="row">
                <div class="col-4 card-data">
                    <mat-card>
                        card 1
                    </mat-card>
                
                    <mat-card>
                        card 2
                    </mat-card>
                
                    <mat-card>
                        card 3
                    </mat-card>
                
                    <mat-card>
                        card 4
                    </mat-card>
                
                    <mat-card>
                        card 5
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="right">
        <div class="calendar-wrapper">
            <igx-calendar [weekStart]="1"></igx-calendar>
        </div>
        <mat-card class="right-side">
            
        </mat-card>
    </div> 
</div>
